{% extends "base_generic.html" %}
{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url={% url 'index' %}">
{% else %}
<div class="col-sm-3,col-md-4, col-lg-4 ">
</div>
<div class="col-sm-6,col-md-4, col-lg-4 ">
	<form action="" method="post">
		{% csrf_token %}
		{% if form.email.errors %} 
		{{ form.email.errors }} 
		{% endif %}
		{{ form.email.label_tag }}
		<p>{{ form.email }}</p>
		<button class="submitButton" type="submit">Reset password</button>
	</form>
</div>
<div class="col-sm-3,col-md-4, col-lg-4 ">
</div>
{% endif %}
{% endblock %}