{% extends "base_generic.html" %}
{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url={% url 'index' %}">
{% else %}
<div class="container">
<div class="row">
<div class="col-sm-3,col-md-4, col-lg-4 ">
</div>
<div class="col-sm-6,col-md-4, col-lg-4 ">
	{% if validlink %}
	<p>Please enter (and confirm) your new password.</p>
	<form action="" method="post">
		<div style="display:none">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		</div>
		{{ form.new_password1.errors }}
		<label for="id_new_password1">New password:</label>
		{{ form.new_password1 }}
		{{ form.new_password2.errors }}
		<label for="id_new_password2">Confirm password:</label>
		{{ form.new_password2 }}</td>
		<button class="submitButton" type="submit">Change my password</button>     
	</form>
	{% else %}
	<h1>Password reset failed</h1>
	<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	{% endif %}
</div>
<div class="container">
<div class="col-sm-3,col-md-4, col-lg-4 ">
</div>
{% endif%}
{% endblock %}