<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
		<title>Local Library</title>
		{% endblock %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">
		<!-- Add additional CSS in static file -->
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<link rel="icon" href="{% static 'images/favicon.png' %}" type = "image/png" sizes="32x32">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" href="{% url 'index' %}">Local Library</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'books' %}">All books</a></li>
						<li><a href="{% url 'authors' %}">All authors</a></li>
						{% if user.is_staff %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="">Staff <span class="caret"></span></a>
							{% if perms.catalog.can_mark_returned %}
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="{% url 'all-borrowed' %}">All borrowed</a></li>
								<!--
									<li class="dropdown-submenu">
									<a class="test" tabindex="-1" href="#">Manage Author <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a tabindex="-1" href="{% url 'all-borrowed' %}">All borrowed</a></li>
										</ul>
									</li>
									-->
								<li><a tabindex="-1" href="{% url 'author_create' %}">Create Author</a></li>
								<li><a tabindex="-1" href="{% url 'book_create' %}">Create Book</a></li>
							</ul>
							{% endif %}
						</li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="label label-default" style="font-size:1em;">{{ user.username }} <span class="glyphicon glyphicon-user"></span></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
								<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
							</ul>
						</li>
						{% else %}
						<!--<li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
						<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						{% endif %}	      
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 ">
					{% block content %}{% endblock %}
					{% block pagination %}
					{% if is_paginated %}
					<center>
						<div class="pagination">
							<span class="page-links">
							{% if page_obj.has_previous %}
							<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
							{% endif %}
							<span class="page-current">
							Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
							</span>
							{% if page_obj.has_next %}
							<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
							{% endif %}
							</span>
						</div>
					</center>
					{% endif %}
					{% endblock %} 
				</div>
			</div>
		</div>
		<style>
			.dropdown-submenu 
			{
			position: relative;
			}
			.dropdown-submenu .dropdown-menu
			{
			top: 0;
			left: 100%;
			margin-top: -1px;
			}
		</style>
		<script>
			$(document).ready(function(){
			  $('.dropdown-submenu a.test').on("click", function(e){
			    $(this).next('ul').toggle();
			    e.stopPropagation();
			    e.preventDefault();
			  });
			});
		</script>
	</body>
</html>